
html, body {
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
}

#colors {
  position: absolute;
  margin-left: 550px;
}

.ui-draggable {
  width: 200px;
  height: 150px;
  margin: 20px;
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
  background: #F2F2F2;}

#boxes {
  position: absolute;
  margin-left: 320px;}

#boxes>div {
	border: 1px solid black;
	height: 150px;
	width: 200px;
	margin: 20px;
	text-align: center;
	padding-top: 40px;
	box-sizing: border-box;
	line-height: 10px;
	background: #F2F2F2;}

@font-face {
	font-family: 'Abril Fatface', cursive;
	src: url(../fonts/AbrilFatFace-Regular.ttf);}

h1 {
	font-family: 'Abril Fatface', cursive;
	text-align: left;
	color: black;
	margin-left: 20px;
	margin-top: 5px;
	font-size: 20pt;);}

h6 {
	font-family: 'Arial', sans-serif;
	text-align: left;
	color: black;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 12pt;
	font-weight: bold;}

label {
	 font-family: "Arial", sans-serif;
	 font-size: 12px;
	 color: #333;
	 height: 20px;
	 width: 100px;
	 margin-top: 5px;
	 text-align: right;
	 clear: both;}

input {
	 height: 20px;
	 width: 100px;
	 border: 1px solid #000;
	 margin-top: 5px;}

 #countdown {
	   position: absolute;
	   left: 800px;
	   display: inline-block;
	   line-height: 1;
	   padding: 20px;
	   font-size: 40px;
	   color: black;}

#reward {
		position: absolute;
		left: 400px;
		display: inline-block;
		line-height: 1;
		padding: 20px;
		font-size: 40px;
		color: black;}

aside {
		position: absolute;
	    left: 350px;
	    display: inline-block;
	    line-height: 2;
	    padding: 50px;
	    font-size: 20px;
	    color: black;}
