<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <header id="main header">
      <div class="container">
        <h3>EventsFest</h3>
      </div>
    </header>

    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href="#">Organizer</a></li>
          <li><a href="#">Participant</a></li>
          <li><a href="/sessions/new">Log In</a></li>
          <li><a href="/users/new">Register</a></li>
        </ul>
      </div>
    </nav>
    <section id="showcase">
      <div class="container">
        <h2>
          Event <br />
          Venue <br />
          Date <br />
        </h2>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <p>
          We bond and inspire communities through curated purposeful events.
          Join an event today!
        </p>
      </div>
    </section>

    <aside id="event_details">
      <div class="container">
        <h3>Double Bill</h3>
        <h4>16 Dec 2019</h4>
        <h5>12pm to 1pm</h5>
        <h5>MBC Civic Plaza</h5>
      </div>
    </aside>
  </body>
</html>
