/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .navbar{
margin-top: 0px;
color: coral;
 }

@font-face {
  font-family: "Anton", sans-serif;
  src: url(../fonts/Anton-Regular.ttf);
  font-family: 'Abril Fatface', cursive;
	src: url(../fonts/AbrilFatFace-Regular.ttf);}


h2{
  font-family: "Anton", sans-serif;
  text-align: left;
  color: white;
  margin-left: 10px;
  margin-top: 150px;
  font-size: 50px;
}
h3 {
  font-family: "Anton", sans-serif;
  text-align: left;
  color: #ff8c00;
  margin-left: 370px;
  margin-top: 90px;
  font-size: 30px;
}

h4 {
  font-family: "Anton", sans-serif;
  text-align: left;
  color: black;
  margin-left: 5px;
  margin-top: 0px;
  font-size: 20px;
}

h5 {
  font-family: "Anton", sans-serif;
  text-align: left;
  color: #ff8c00;
  margin-left: 5px;
  margin-top: 0px;
  font-size: 30px;
}
#about{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: black;
  margin-left: 10px;
  margin-top: 500px;
  font-size: 30px;
  line-height: 3rem;
}



#main-header {
  background-image: url("/Images/Birdrace.png");
  background-repeat: no-repeat;
  position: absolute;
  min-height: 380px;
  line-height: 0;
  height: auto;
  top: 65px;
  width: 100%;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 1024px;
  min-height: 100%;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #main-header {
    left: 50%;
    margin-left: -512px;   50%
  }

/* nav ul a,
nav .brand-logo {
  color: #444;
} */

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}
