<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Maple Events</h1>
    <h2>Create New Event</h2>
    <form action="/events" method="POST">
      Event_ID: <input type="text" name="eventId" /><br /><br />
      Title: <input type="text" name="Title" /><br /><br />
      Description:
      <input type="text" name="description" /><br /><br />
      Location: <input type="text" name="location" /><br /><br />
      Start_date: <input type="Date" name="startDate" /><br /><br />
      Start_time: <input type="hour" name="startTime" /><br /><br />
      End_date: <input type="Date" name="endDate" /><br /><br />
      End_time: <input type="hour" name="endTime" /><br /><br />
      <input type="submit" name="" value="Create Event" />
    </form>
  </body>
</html>
